/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-03-2016, 21:25:41
    Author     : Bruger
*/

body 
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 850px;
    margin: 20px auto;
}

.formular
{
    background-color: lightgrey;
    
/*    width: 300px;
    padding: 25px;
    border: 25px;
    margin: 25px;*/
}