/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-04-2016, 10:15:19
    Author     : Bruger
*/


table{
    width:180px;
    clear:left;
    text-align:left;
}

h1{
    text-align: center;
}

.report{

    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 100px;
    margin-left: 100px;
}
.frontPage{
    border-style: solid;
    border-width: medium;
    margin-bottom: 5px;
}
.reportPage{
    border-style: solid;
    border-width: medium;
    margin-bottom: 5px;
}
.conclusion{
    border-style: solid;
    border-width: medium;
}
